footer {
	text-align: center;
	.copyright {
		font-size: .85rem;
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		padding: 10px 0;
		box-sizing: border-box;
		background: #000;
		display: block;
		color: #fff;
	}
}