/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   globals.scss                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hasuzuki <hasuzuki@student.42tokyo.jp>     +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/11/18 20:17:23 by hasuzuki          #+#    #+#             */
/*   Updated: 2021/12/11 09:08:56 by hasuzuki         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

// Develop Settings
$sizes: sm, md, lg, xl;

$breakpoint: (
	'sm': 'screen and (min-width: 640px)',// 	640px ~ 	width(iPhone)
	'md': 'screen and (min-width: 768px)',//	768px ~  	width(iPad)
	'lg': 'screen and (min-width: 1024px)',// 	1024px ~ 	width(iPad Pro) height(iPad)
	'xl': 'screen and (min-width: 1280px)',//	1280px ~ 	width(HD)
) !default;

@mixin media-queries($size) {
	@media #{map-get($breakpoint, $size)} {// 第一引数->変数breakpoint-up, 第二引数->includeから受け取ったパラメータ
		@content;
	}
}

@import 'modules/_header';
@import 'modules/_footer';
@import 'modules/_reset';

@mixin responsive-width {// Screen Size Settings
	@include media-queries('sm') { max-width: 640px; }
	@include media-queries('md') { max-width: 768px; }
	@include media-queries('lg') { max-width: 1024px; }
	@include media-queries('xl') { max-width: 1280px; }
}

// Container
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	@include responsive-width;
}

// Site Original Styles
.site-logo {
	margin: 0;
	line-height: 1.15;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	&.black {
		color: #000;
	}
}

.title {
	font-size: 4rem;
	margin: 0;
	line-height: 1.15;
}

.description {
  font-size: 1.5rem;
  margin: 4rem 0;
  line-height: 1.5;
}

.title, .description {
	text-align: center;
}

#toolbar {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	background: #000;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	.toolbar_item {
		width: 26px;
		height: 26px;
		background: #fff;
		border: none;
		cursor: pointer;
		position: relative;
		i {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			position: absolute;
		}
		input[type="file"] {
			display: none;
		}
		&:hover {
			border: solid 1px #fff;
			transition-duration: .2s;
		}
	}
}

#editor, #output {
	width: 100%;
	padding: 20px 14px;
	border: solid 2px #888;
	border-radius: 1rem;
	box-sizing: border-box;
}

#editor {
	min-height: 400px;
	margin-bottom: 20px;
}

#output {
	display: none;
	margin-bottom: 100px;
}

button {
	&.get_html, &.get_text, &.get_json, &.change_css {
		width: 150px;
		height: 36px;
		color: #fff;
		background: #000;
		margin-bottom: 100px;
		border: none;
		cursor: pointer;
	}
	&:not(:last-child) { margin-right: 10px; }
}

code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
}

main {
	padding-top: 16vh;
}




.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	@include media-queries('sm') {
		.grid {
		  width: 100%;
		  flex-direction: column;
		}
	}
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
	&:hover,
	&:focus,
	&:active {
		color: #0070f3;
		border-color: #0070f3;
	}
	h2 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}
	p {
		font-size: 1.25rem;
		line-height: 1.5;
		margin: 0;
	}
}